altgraph==0.17.4
astroid==3.0.3
autopep8==2.0.4
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
dill==0.3.8
fonttools==4.48.1
isort==5.13.2
kiwisolver==1.4.5
matplotlib==3.8.2
mccabe==0.7.0
numpy==1.26.4
packaging==23.2
pefile==2023.2.7
pillow==10.2.0
platformdirs==4.2.0
pycodestyle==2.11.1
pyinstaller==6.4.0
pyinstaller-hooks-contrib==2024.1
pylint==3.0.3
pyparsing==3.1.1
python-dateutil==2.8.2
pywin32-ctypes==0.2.2
setuptools==69.1.0
six==1.16.0
tomlkit==0.12.3
webcolors==1.13
wxPython==4.2.1
wxwidgets==1.0.5
